body{
    background-color: burlywood;
}

h1{
    background-color:black;
    color:aliceblue;
     
}

h2{
    background-color:brown;
    color:antiquewhite
}

h3{
    background-color:skyblue;
    color:black
}

h4{
    background-color:aqua;
    color:black
}

h5{
    background-color:chocolate;
    color:black
}

h6{
    background-color: indigo;
    color:beige;
}